.story {
  display: flex;
  margin-bottom: 6px;
}

.story__order-number {
  color: #828282;
  font-size: 16px;
  padding-top: 3px;
}

.story__primary-row {
  padding: 3px 0;
}

.story__link {
  color: #000000;
  text-decoration: none;
}

.story__link:visited {
  color: #828282;
}

.story__bottom-panel {
  font-size: 11px;
  color: #828282;
}
